html,body{
    height:120%;
    max-width: 100%;
    margin:0px;
    padding: 0px;
    background-image: absolute;
}

.linear{
    position: relative;
    background-image: linear-gradient(#3175B5,#204C75);
    height: 120%;
    width: 120%;
    margin: 0px;
    padding: 0px;
}

.linear2{
    position: relative;
    background-image: linear-gradient(#3175B5,#204C75);
    height: 120%;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

/* overskrift h1 design */
h1{
font-style:oblique;
}


.overskrift{
    float:center;
    width:100%;
    height:100px;
    overflow:hidden;
    font-size: 50px;
    text-align: center;
    text-decoration-line: underline;
    color: black;
}

#tekst2{
text-align: left;
color: black;
overflow:visible;
font-size: 30px
}

.box{
width: auto; 
height: auto;
border: 5px solid lightblue;
padding: 10px;
margin-left: auto;
margin-right: auto;
background-color: white;
}

.box-underside{
width: auto; 
height: auto;
border: 5px solid lightblue;
padding: 10px;
margin-left: auto;
margin-right: auto;
background-color: white;
}

.link{
width: auto; 
height: auto;
border: 5px solid lightblue;
padding: 10px;
margin-left: auto;
margin-right: auto;
background-color: white;
}

img {
  display: block;
    margin-left: auto;
    margin-right: auto;
}

.eks{
width: auto; 
height: auto;
border: 5px solid lightblue;
padding: 10px;
margin-left: auto;
margin-right: auto;
background-color: white;
}




