html,body{
    height:120%;
    max-width: 100%;
    margin:0px;
    padding: 0px;
    background-image: absolute;
}

.linear{
    position: relative;
    background-image: linear-gradient(#3175B5,#1B57AB);
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

/* overskrift h1 design */
h1{
font-style:oblique;
}

.overskrift{
    float:center;
    overflow:hidden;
    font-size: 50px;
    text-align: center;
    text-decoration-line: underline;
    color: black;
    border: 5px solid #4FB3F5;
    padding: 5px;
    margin-left: 400px;
    margin-right: 400px;
    background-color: white;
}

.box{
width: auto; 
height: auto;
border: 5px solid #4FB3F5;
padding: 10px;
margin-left: auto;
margin-right: auto;
background-color: white;
}

.box-underside{
width: auto; 
height: auto;
border: 5px solid #4FB3F5;
padding: 10px;
margin-left: auto;
margin-right: auto;
background-color: white;
}


.eks{
width: 47.8%; 
height:70%;
border: 5px solid #4FB3F5;
padding: 10px;
background-color: white;
position: relative;
left:0px;
top:100x;
}

.eks2{
width: 47.8%; 
height: 70%;
border: 5px solid #4FB3F5;
padding: 10px;
background-color: white;
position: relative;
left:640px;
top:-554px;
}

.b1{
width: 47%; 
height: 47%;
border: 5px solid #4FB3F5;
padding: 10px;
margin: 20px;
background-color: white;
position: relative;
top: -30px;
left: -20px;
}

.b2{
width: 47%; 
height: 47%;
border: 5px solid #4FB3F5;
padding: 10px;
margin: 20px;
background-color: white;
position: relative;
top: -433px;
left: 620px;
}

.bk1{
width: 47.5%; 
height: 60%;
border: 5px solid #4FB3F5;
padding: 10px;
margin: 20px;
background-color: white;
position: relative;
top: -70px;
left: -20px; 
}

.bk2{
width: 47.5%; 
height: 60%;
border: 5px solid #4FB3F5;
padding: 10px;
margin: 20px;
background-color: white;
position: relative;
top: -570px;
left: 623px; 
}

.ob{
width: 97.7%; 
height: 5%;
border: 5px solid #4FB3F5;
padding: 10px;
margin: 20px;
background-color: white;
position: relative;
top: -15px;
left: -20px;
font-size: 20px;
}

*{
  box-sizing: border-box;
}


body {
  margin: 0;
}

/* Style the header */
.Ol {
  background-color: black;
  padding: 10px;
  text-align: center;
}

/* Style the top navigation bar */
.Ol {
  overflow: hidden;
  background-color: #4FB3F5;
}

/* Style the topnav links */
.Ol a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.Ol a:hover {
  background-color: #4CC1FF;
  color: white;
}


