*{
    margin: 0;
    padding:0;
    font-family: sans-serif;
}

.banner{
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(inter.jpeg);
    background-size: cover;
    background-position: center;
}

.banner2{
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(program.jpeg);
    background-size: cover;
    background-position: center;
}

.banner3{
    width: 100%;
    height: 140%;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(tech.jpeg);
    background-size: cover;
    background-position: center;
}

.banner4{
    width: 100%;
    height: 300%;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(supernova.jpeg);
    background-size: cover;
    background-position: center;
}

.menubar{
    width: 90%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    width: 120px;
    cursor: pointer;
}

.menubar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.menubar ul li a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}

.menubar ul li::after{
    content: '';
    height: 3px;
    width: 0%;
    background: #009688;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.menubar ul li:hover::after{
    width: 100%;
}

.content{
    width: 100%;
    position: absolute;
    top: 35%;
    transform: translateY(-50%);
    text-align: center;
    color: white;   
}

.content h1{
    font-size: 40px;
    margin-top: 50px;
}

.content p{
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
}

button{
    width: 10%;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #009688;
    background: transparent;
    color: white;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

button a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}
span{
    background: #009688;
    height: 100%;
    width: 0%;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}

button:hover span{
    width: 100%;
}

button:hover{
    border: none;
}

.billede{
    width: 600px;
    height: 430px;
    display: inline-block;
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 15px;
    background-image: url(riemann.png);
    background-position: center;
    background-size: cover;
    position: absolute;
    bottom: 5%;
    left: 55%;
    transition: transform 0.5s;
}

.billede2{
    width: 600px;
    height: 430px;
    display: inline-block;
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 15px;
    background-image: url(galaxy.jpg);
    background-position: center;
    background-size: cover;
    position: absolute;
    bottom: 5%;
    left: 0%;
    transition: transform 0.5s;
}

.billede:hover{
    transform: translateY(-10px);
}

.billede2:hover{
    transform: translateY(-10px);
}

.content2{
    width: 100%;
    position: absolute;
    top: 25%;
    transform: translateY(-50%);
    text-align: center;
    color: white;   
}

.content2 h1{
    font-size: 40px;
    margin-top: 50px;
}

.content2 p{
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
}


.boks1{
    width: 600px;
    height: 430px;
    display: inline-block;
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 15px;
    background-image: url();
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 70%;
    left: 0%;
}

.boks2{
    width: 600px;
    height: 430px;
    display: inline-block;
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 15px;
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 70%;
    left: 57%;
}

.fusion{
    width: 600px;
    height: 430px;
    display: inline-block;
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 15px;
    background-image: url(fusion.gif);
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 46%;
    left: 57%;
    transition: transform 0.5s;
}

.fusion:hover{
    transform: translateY(-10px);
}

.content3{
    width: 90%;
    position: absolute;
    left: 5%;
    top: 60%;
    transform: translateY(-50%);
    text-align: center;
    color: white;   
}

.content3 h1{
    font-size: 40px;
    margin-top: 50px;
}

.content3 p{
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
}

.webboks{
    width: 500px;
    height: 430px;
    font-size: 15px;
}

.eks1{
    width: 618px;
    height: 162px;
    display: inline-block;
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 15px;
    background-image: url(Screen.png);
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 92%;
    left: -5%;
    transition: transform 0.5s;
}

.eks1:hover{
    transform: translateY(-10px);
}

.eks3{
    width: 634px;
    height: 88px;
    display: inline-block;
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 15px;
    background-image: url(Screen2.png);
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 120%;
    left: -6%;
    transition: transform 0.5s;
}

.eks3:hover{
    transform: translateY(-10px);
}

.webboks2{
    width: 500px;
    height: 430px;
    font-size: 15px;
    position: absolute;
    left: 60%;
    top: 31%;
}

.eks2{
    width: 420px;
    height: 326px;
    display: inline-block;
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 15px;
    background-image: url(Screen3.png);
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 90%;
    left: 63%;
    transition: transform 0.5s;
}

.eks2:hover{
    transform: translateY(-10px);
}


.content4{
    width: 90%;
    position: absolute;
    left: 5%;
    top: 32%;
    transform: translateY(-50%);
    text-align: center;
    color: white;   
}

.content4 h1{
    font-size: 40px;
    margin-top: 50px;
}

.content4 p{
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
}

.webboks3 h1{
    font-size: 30px;
    width: 40%;
    height: 40%;
    position: absolute;
    left: 2%;
    top: 80%;
}

.webboks3 p{
    font-size: 17px;
    width: 50%;
    height: 80%;
    position: absolute;
    left: -2%;
    top: 130%;
}

.webboks4 h1{
    font-size: 30px;
    width: 40%;
    height: 40%;
    position: absolute;
    left: 2%;
    top: 230%;
}

.webboks4 p{
    font-size: 17px;
    width: 50%;
    height: 80%;
    position: absolute;
    left: -2%;
    top: 256%;
}

.data{
    width: 600px;
    height: 295px;
    display: inline-block;
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 15px;
    background-image: url(Data.png);
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 357%;
    left: -2%;
    transition: transform 0.5s;
}

.data:hover{
    transform: translateY(-10px);
}

.download{
    width: 50%;
    height: 450px;
    font-size: 15px;
    position: absolute;
    left: -3%;
    top: 460%;
}

.flowt{
    width: 50%;
    height: 450px;
    font-size: 15px;
    position: absolute;
    left: -3%;
    top: 510%;
}

.flow{
    width: 419px;
    height: 712px;
    display: inline-block;
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 15px;
    background-image: url(Flowchart.drawio.png);
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 540%;
    left: 4%;
    transition: transform 0.5s;
    background-color: white;
}

.flow:hover{
    transform: translateY(-10px);
}

.content5{
    width: 50%;
    position: absolute;
    left: 49%;
    top: 63.8%;
    transform: translateY(-50%);
    text-align: center;
    color: white;   
}

.content5 h1{
    font-size: 40px;
    margin-top: 50px;
}

.content5 p{
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
}

.kode1{
    width: 592px;
    height: 278px;
    display: inline-block;
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 15px;
    background-image: url(Kode1.png);
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 92%;
    left: 6%;
    transition: transform 0.5s;
    background-color: white;
}

.kode1:hover{
    transform: translateY(-10px);
}

.tekst{
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0%;
    top: 210%;
}

.kode2{
    width: 656px;
    height: 40px;
    display: inline-block;
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 15px;
    background-image: url(Kode2.png);
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 270%;
    left: 3%;
    transition: transform 0.5s;
    background-color: white;
}

.kode2:hover{
    transform: translateY(-10px);
}

.tekst2{
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0%;
    top: 295%;
}

.kode3{
    width: 700px;
    height: 102px;
    display: inline-block;
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 15px;
    background-image: url(Kode3.png);
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 62%;
    left: 0%;
    transition: transform 0.5s;
    background-color: white;
}

.kode3:hover{
    transform: translateY(-10px);
}

.tekst3{
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0%;
    top: 400%;
}

.kode4{
    width: 99%;
    height: 81%;
    display: inline-block;
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 15px;
    background-image: url(Kode4.png);
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 85%;
    left: -2%;
    transition: transform 0.5s;
    background-color: white;
}

.kode4:hover{
    transform: translateY(-10px);
}
